:root {
  // Primitives
  --xs: 0.5rem;
  --sm: 0.875rem;
  --base: 1rem;
  --md: 1.25rem;
  --lg: 1.5rem;

  --black: #000;

  // Tokens
  --font-size-sm: var(--sm);
  --font-size-base: var(--base);
  --font-size-md: var(--md);

  --spacing-sm: var(--xs);
  --spacing-base: var(--base);
  --spacing-md: var(--lg);

  --dark: var(--black);
}

.accordion {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: var(--font-size-base);
}

.accordion__button {
  padding: var(--spacing-base) var(--spacing-base);
  border: 1px solid var(--dark);
  background-color: transparent;
}

.accordion__content {
  border: 1px solid var(--dark);
  padding: var(--base);
}

.accordion__button[aria-expanded="false"] + .accordion__content {
  display: none;
}
