.modal {
  position: fixed;
  inset: 0;
  opacity: 1;
  scale: 1;
  transition: all 1s ease;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  @starting-style {
    opacity: 0;
    scale: 0;
  }
}
